.job-list {
    padding: 20px;
}

.job-categories {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.job-categories button {
    padding: 10px 20px;
    font-size: 16px;
}

.job-listing {
    display: flex;
    flex-direction: column;
}

.job-item {
    display: flex;
    align-items: center;
    padding: 10px;
}

.job-item img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius:50%;
}


.isfav{
    fill:#f2752180;
}

.job-details {
    flex-grow: 1;
    font-family: Rubik, sans-serif;
    h3 {
        margin:0;
        position: relative;
        color: #000;
        text-decoration: none;
        font-family: Spectral, serif;

        &:hover {
            cursor:pointer;
            &::after {
            transform: scaleX(1);
            transform-origin: left;
            }
        }
        &::after {
            position: absolute;
            content: "";
            top: 100%;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #000;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 250ms;
        }
}}

.details{
    width: 100%;
    display: inline-flex;
    p{
        font-size:smaller;
        padding-right:1rem;
        margin:0;
    }
}

.favorite-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.favorite-button.active {
    path{
        fill: #f2752180;
}
}

path {
    fill:#ffffff;
    &:hover{
        fill:#f2752180;
    }
}
