/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Spectral|Rubik&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    background: linear-gradient(to top,#f5bcd5,#f27521,#e13781,#f24526);
}

html, body {
  min-height: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Abril Fatface', serif;
    font-weight: 400;
    font-style: normal;
}
p,span{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px red;
  border-radius: 10px;
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background:#f24526;
  border-radius: 4px;
}